<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <h1>선택해보자</h1>
  <!-- <a href="/webtoons">리스트</a> -->
  <button id="webtoonBtn">리스트</button>


</body>
<script src="public/js/main.js"></script>

</html>