<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>웹툰 리스트</h1>
  <% webtoon.forEach((x,i)=>{%>
    <%= x.id %>
      <%= x.title %>
        <%= x.author %>
          <br>
          <% }) %>
</body>

</html>